/**
 * Tabla de contenido
 * 1. Fonts
 * 2. Header
 * 3. Ubicaciones
 */

/* --------------------Fonts------------------------ */

@import url("https://fonts.cdnfonts.com/css/american-captain-2");
@import url("https://fonts.cdnfonts.com/css/gotham");

/* --------------------Header------------------------ */

.hero {
  width: 100%;
}

.hero__element--image {
  width: 100%;
}

.hero__element--image img {
  width: 100%;
  object-fit: cover;
}

/* --------------------Ubicaciones------------------------ */

.ubicaciones {
  margin-top: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 200px;
  width: 100%;
}

.ubicaciones__element--title {
  font-family: "Gotham Black", sans-serif;
  font-size: 60px;
  color: #d7191e;
  margin-bottom: 5rem;
}

.ubicaciones__container--items {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slick-track {
  opacity: 1;
  width: 65561px;
  transform: translate3d(0px, 0px, 0px);
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}


.ubicaciones__box {
  width: 80%;
}

.ubicaciones__element--subtitle {
  font-family: "Gotham Black", sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
}

.ubicaciones__element--grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 80px;
}

.ubicaiones__item--grid--title {
  font-family: "Gotham Black", sans-serif;
  color: #c5332c;
  font-size: 25px;
}

.ubicaciones__item--grid--subtitle {
  font-family: "Gotham", sans-serif;
  font-weight: 700;
}

.ubicaciones__item--grid {
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  width: 601px;
  padding: 41px 0 41px 0;
}

.ubicaciones__separador {
  width: 800px;
  margin: 50px 0 0 0;
  background-color: #dcdcdc;
  border: none;
  height: 3px;
}

/* --------------------Galeria------------------------ */

.galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  width: 100%;
}

.galeria__button--load-more {
  border: none;
  background-color: transparent;
  font-family: "Gotham", sans-serif;
  font-size: 23px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin-top: 25px;
}

.bi-chevron-down {
  font-weight: 900;
  font-size: 40px;
}

.galeria__title {
  font-family: "Gotham Black", sans-serif;
  font-size: 60px;
  color: #d7191e;
  font-weight: 700;
  padding-bottom: 8rem;
  text-align: center;
}

.galeria__container {
  width: 1250px;
  background: rgb(239, 239, 239);
  background: linear-gradient(180deg,
      rgba(239, 239, 239, 1) 0%,
      rgba(255, 255, 255, 1) 100%,
      rgba(255, 255, 255, 1) 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
  gap: 30px;
}

.galeria__container--item {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.slick-next:before,
.slick-prev:before {
  color: #c5332c !important;
}

/* --------------------Preguntas frecuentes------------------------ */

.preguntas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 20px;
  width: 100%;
}

.bi-dash-circle {
  font-size: 40px;
}

.bi-plus-circle {
  font-size: 40px;
}

.preguntas__container--item {
  background-color: #efefef;
  width: 1234px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.preguntas__container--item p {
  background-color: #f9fafa;
  height: 100%;
  padding: 25px 90px 25px 40px;
  font-family: "Gotham", sans-serif;
  font-size: 20px;
  color: #747474;
  display: flex;
  flex-direction: column;
}

.preguntas__container--summary {
  font-family: "Gotham Black", sans-serif;
  padding: 25px;
  text-align: left;
  list-style: none;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preguntas__titulo {
  font-size: 60px;
  font-family: "Gotham Black", sans-serif;
  color: #d7191e;
  padding-bottom: 2.8rem;
  text-align: center;
}

/* --------------------Latas------------------------ */

.latas {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined {
  font-size: 40px !important;
}

/* --------------------Slick Slider arrows------------------------ */

.slick-next:before, .slick-prev:before{
  font-size: 70px !important;
}

/* --------------------Slick Slider arrows------------------------ */


/* --------------------Responsive------------------------ */

@media (max-width: 1291px) {
  .galeria__container {
    width: 1050px;
    background: rgb(239, 239, 239);
  }

  .galeria__container--item {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .preguntas__container--item {
    background-color: #efefef;
    width: 1034px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 1099px) {
  .galeria__container--box {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1099px) {
  .galeria__container {
    width: 850px;
    background: rgb(239, 239, 239);
  }

  .galeria__container--item {
    width: 500px;
    height: 500px;
    object-fit: cover;
  }

  .preguntas__container--item {
    background-color: #efefef;
    width: 934px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .bi-dash-circle {
    font-size: 50px;
  }

  .bi-plus-circle {
    font-size: 50px;
  }

  .ubicaciones__item--grid {
    width: 630px;
  }

  .ubicaiones__item--grid--title {
    font-size: 2.5em;
  }

  .ubicaciones__item--grid--subtitle {
    font-size: 1.7em;
  }

  .preguntas__container--summary {
    font-size: 2em;
  }

  .preguntas__container--item p {
    font-size: 1.9em;
  }
}